body, html
        {
            margin:0;
            padding:0;
            #font-family:sans-serif;
            font-family: monospace;
            background:#ffffff;
            height: 100%;
            font-size:100%;

        }

#inhalt {
    min-height:100%;



}

* html #wrap {
height:100%;
}

#header
        {
            margin-bottom: 10px;
            background:#1f1f1f;
            color:#f0f0f0;
            font-family:monospace;
            text-align:center;
            padding:5px;
        }
        
.headline
        {
        font-size:2em;
        }
p.content
        {
            font-size:100%;
            padding: 10px;
            margin-bottom:20px;

        }
#footer
        {
            bottom:0px;
            background:#1f1f1f;
            text-align:center;
            font-family:monospace;
            color:#ffffff;
            width:100%;
            font-size:1em;
            height:1.4em;
            margin-top:-1.4em;
        }
.intext a:link { font-style:bold;text-decoration:none; color:green;}
.intext a:visited { font-style:bold;text-decoration:none;color:green; }
.intext a:hover { color:red;}
.intext a:active { text-decoration:none; }
.intext a:focus { text-decoration:none; }

a:link { font-style:bold;text-decoration:none; color:#666666;}
a:visited { font-style:bold;text-decoration:none;color:#666666; }
a:hover { color:red;}
a:active { text-decoration:none; }
a:focus { text-decoration:none; }
        
.external a:link, .external a:visited { 
        font-style:italic;
        text-decoration:none;
        color:blue;
        padding-left: 18px;
        background: transparent url(/content/icons/external.png) no-repeat center left;
        }
   

        
.external a:hover {
        color:red;
        background: transparent url(/content/icons/external_hover.png) no-repeat center left;
        }
.external a:active { text-decoration:none; }
.external a:focus { text-decoration:none; }

.source a:link { font-style:italic; font-size:small; text-decoration:none; color:blue;}
.source a:visited { font-style:italic;text-decoration:none;color:blue; }
.source a:hover { color:red;}
.source a:active { text-decoration:none; }
.source a:focus { text-decoration:none; }
.source a:before {content: "Quelle: ";}

.infolink a:link, .infolink a:visited {
    font-style:bold;
    text-decoration:none;
    color:#666666;
    padding-left: 18px;
    background: transparent url(/content/icons/about.png) no-repeat center left;
    }
.infolink a:hover {
     color:red;
     background: transparent url(/content/icons/about_hover.png) no-repeat center left;
    }

.aboutlink a:link, .aboutlink a:visited {
    font-style:bold;
    text-decoration:none;
    color:#666666;
    padding-left: 18px;
    background: transparent url(/content/icons/info.png) no-repeat center left;
    }

.aboutlink a:hover {
     color:red;
     background: transparent url(/content/icons/info_hover.png) no-repeat center left;
    }
.trylink a:link, .trylink a:visited {
    font-style:bold;
    text-decoration:none;
    color:#666666;
    padding-left: 18px;
    background: transparent url(/content/icons/try.png) no-repeat center left;
    }
.trylink a:hover {
     color:red;
     background: transparent url(/content/icons/try_hover.png) no-repeat center left;
    }
.infolink a:active, .aboutlink a:active, .trylink a:active { text-decoration:none; }
.infolink a:focus, .aboutlink a:focus, .trylink a:focus { text-decoration:none; }

.info {
border: 2px outset black;
background: #FAFAFA;
padding: 30px;
text-align: justify;
margin: 30px;
line-height: 1.9;

}

p.nav {
border-top: 1px solid black;
border-bottom: 1px solid black;
background: lightgrey;
padding-left: 10px;
}

.leftspace {
    padding-left: 10px;
    padding-right: 10px;
    border-spacing: 4px;

}

#menu {
    margin:0;
    margin-left:0.5em;
    padding:0.5em;
    float:left;
    width:90%;
}


#menu li {
    list-style: none;
    margin:0;
    padding:0.3em;
    font-size:0.9em;
}

#menu #active {
    padding:0.5em;
    text-decoration:none;
    color:red;
}

#menu a:link, #menu a:visited {
    display:block;
    #background:#eee;
    color:black;
    text-decoration:none;
    margin:0;
    padding:0.2em;;
}

#menu a:hover {
    background:#4f4f4f;
    color:#ffffff;
    text-decoration:none;
}

#content {
    border:3px outset #aeaeae;
    padding-left:10px;
    margin-left:0.5em;
    margin-right:0.5em;
}
