body, html
		{
			margin:0;
			padding:0;
            #font-family:sans-serif;
            font-family: monospace;
            background:#ffffff;
            height: 100%;
            font-size:100%;

		}

#inhalt {
    min-height:100%;
}

* html #wrap {
height:100%;
}

#header
		{
			margin: 0 0 0.7em;
			background:#1f1f1f;
            color:#f0f0f0;
            font-family:monospace;
			text-align:center;
			padding:10px;
		}
#content_container
		{
			padding-bottom:3em;
            font-size:100%;
            
		}
#footer
		{
			bottom:0px;
			background:#1f1f1f;
			text-align:center;
            font-family:monospace;
            color:#ffffff;
			width:100%;
            font-size:1em;
            height:1.4em;
            #margin-top:-1.4em;
		}
          a:link { font-style:bold;text-decoration:none; color:#666666;}
          a:visited { font-style:bold;text-decoration:none;color:#666666; }
          a:hover { color:green;}
          a:active { text-decoration:none; }
          a:focus { text-decoration:none; }


        
.external a:link { font-style:italic;text-decoration:none; color:blue;}
.external a:visited { font-style:italic;text-decoration:none;color:blue; }
.external a:hover { color:red;}
.external a:active { text-decoration:none; }
.external a:focus { text-decoration:none; }

div.info {
border: 1px outset black;
background: lightgrey;
padding: 30px;
text-align: justify;

}

p.nav {
border-top: 1px solid black;
border-bottom: 1px solid black;
background: lightgrey;
}

#menu {
	margin:0;
	margin-left:0.5em;
	padding:0.5em;
	float:left;
	width:90%;
}


#menu li {
	list-style: none;
	margin:0;
	padding:0.3em;
    font-size:0.9em;
}

#menu li#active {
	padding:0.5em;
	text-decoration:none;
}

#menu a:link, #menu a:visited {
	display:block;
	#background:#eee;
	color:black;
	text-decoration:none;
	margin:0;
	padding:0.2em;;
}

#menu a:hover {
	background:#4f4f4f;
	color:#ffffff;
	text-decoration:none;
}

#content {
	border:3px outset #aeaeae;
	padding:0;
	margin-left:0.5em;
	margin-right:0.5em;
}
