{% extends "base.html" %}
{% block titleline %}
&Uuml;ber Kryptos
{% endblock %}

{% block title %}
&Uuml;ber Kryptos
{% endblock %}
{% block content %}

{# ausprobieren #}
<div class='leftspace' >
<br>
</div>
<p class='nav' >
&gt; <a href='{% url "base_app.views.base" %}'>Kryptos</a> &gt; &Uuml;ber Kryptos   
</p>
<div class='info' >
<table width='100%' >
    <tr>
        <td valign='top' >
        Diese Webseite bringt dem Nutzer die Kryptologie und einzelne ihrer
        Teildisziplinen Kryptographie, Steganographie und Hash-Algorithmen
        auf anschauliche Weise n&auml;her und es
        erm&ouml;glichen, eine Vielzahl von Algorithmen selbst auszuprobieren.
        Unter "<img src='/content/icons/about.png'></img> Was ist das?"
        werden die jeweiligen Algorithmen mit Text und Animationen 
        erkl&auml;rt. Unter "<img src='/content/icons/try.png'></img> Ausprobieren"
        lassen sich Zeichenfolgen eingeben und die entsprechenden Algorithmen damit testen.
        <p>
        Gesagt sei jedoch, dass Verschl&uuml;sselungen mit Kryptos oder
        auf anderen Webseiten niemals mit wichtigen oder sicherheitskritischen
        Daten stattfinden sollten. Die &Uuml;bertragung &uuml;ber ein Netzwerk,
        besonders wenn diese unverschl&uuml;sselt geschieht, stellt immer ein
        Sicherheitsrisiko dar, da diese von Dritten mitgelesen werden
        k&ouml;nnte. Auch der Webserver selbst k&ouml;nnte ungewollt Daten
        mitprotokollieren. Will man Daten verschl&uuml;sseln, sollte
        dies immer mit Software, der man vertraut, auf dem eigenen Rechner
        stattfinden. Kryptos ist ausschießlich zum Ausprobieren und "Herumexperimentieren"
        gedacht. Dies gilt auch f&uuml;r andere Dienste, die Verschl&uuml;sselung
        oder &auml;hnliches &uuml;ber das Internet anbieten.
        <p>
        Die Software, die dieser Webseite zu Grunde liegt, ist, sofern nicht anders
        angegeben, unter der <span class='external'>
        <a target='_blank' href='http://www.gnu.org/licenses/gpl-3.0.txt'>GNU General Public License Version 3</a></span>
        lizensiert. Alle textuellen Inhalte dieser Webseite sind unter einer <span class='external' ><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/">Creative Commons-Lizenz</a></span> lizenziert. <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/de/80x15.png" /></a><br />
        <p>
        Alle Symbole sind Teil der Icon-Themes <i>Human, Humanity, Gnome,
        Crystal</i> und <i>Hicolor</i> und unter der GPL bzw. der LGPL lizensiert.
        <p>
        Technischer Hinweise: Diese Seite enth&auml;lt SVG-Animationen, um
        kryptologische Vorg&auml;nge anschaulich darzustellen. Diese
        Technologie wird von allen modernen Webbrowsern mit Au&szlig;nahme
        des Microsoft Internet Explorers unterst&uuml;tzt. Daher empfielt es
        sich nicht, den Internet Explorer auf dieser Webseite zu benutzen. Sollte
        es ihnen nicht m&ouml;glich sein oder sollten sie nicht gewollt sein
        einen anderen Browser zu benutzen, werden auf Kryptos im
        Internet Explorer GIF-Animationen statt SVG-Animationen angezeigt.
        Diese haben jedoch eine deutlich geringere Qualität, l&auml;ngere Ladezeiten
        und sind teilweise fehlerhaft. Auf der Webseite
        <span class='external'><a href='http://www.browserchoice.eu/'>browserchoice.eu</a></span>
        finden sie eine Auswahl an einigen alternativen Browsern.
        <p>
        Kontakt zu dem Autor: marko.krause at informatik.uni-oldenburg.de
        </td>
    </tr>
</table>
</div>

{% endblock %}

