{% extends "base.html" %}

{% block titleline %}Kryptos{% endblock %}

{% block title %}Kryptos{% endblock %}

{% block content %}
<br>
<p class='nav' >
&gt; Kryptos
</p>
<table width='100%' class='leftspace' cellpadding='10' >
    <tr>
        <td width='250'>Kryptographie</td><td><a href='{% url base_app.views.info "crypto","overview" %}/'>Was ist das?</a></td>
    </tr>
    <tr>
        <td colspan='2' >
            <table  class='leftspace' width='800' >
                    {% for a in crypto %}
    
                <tr>
                    <td width='50%'>{{ a.name }}:</td>
                    <td width='25%'><a href='{% url base_app.views.info a.shortTitle "overview" %}/'>Was ist das?</a></td>
                    <td width='25%'><a href='{% url crypto.views.algo a.shortTitle %}/'>Ausprobieren</a></td>
                </tr>
    
    {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <td width='250'>Steganographie</td><td><a href='{% url base_app.views.info "stego","overview" %}/'>Was ist das?</a></td>
    </tr>
    <tr>
        <td colspan='2' >
            <table  class='leftspace' width='800' >
                    {% for a in stego %}
    
                <tr>
                    <td width='50%'>{{ a.name }}:</td>
                    <td width='25%'><a href='{% url base_app.views.info a.shortTitle "overview" %}/'>Was ist das?</a></td>
                    <td width='25%'><a href='{% url stego.views.algo a.shortTitle %}/'>Ausprobieren</a></td>
                </tr>
    
    {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <td width='250'>Hash-Algorithmen</td><td><a href='{% url base_app.views.info "hash","overview" %}/'>Was ist das?</a></td>
    </tr>
    <tr>
        <td colspan='2' >
            <table  class='leftspace'  width='800' >
                    {% for a in hash %}
    
                <tr>
                    <td width='50%'>{{ a.name }}:</td>
                    <td width='25%'><a href='{% url base_app.views.info a.shortTitle "overview" %}/'>Was ist das?</a></td>
                    <td width='25%'><a href='{% url hash.views.algo a.shortTitle %}/'>Ausprobieren</a></td>
                </tr>
    
    {% endfor %}
            </table>
        </td>
    </tr>
</table>

{% endblock %}

