{% extends "base.html" %}

{% block titleline %}Kryptos{% endblock %}

{% block title %}&Uuml;bersicht{% endblock %}

{% block content %}
<div class='leftspace' >
<img width='16' height='16' border='0' src='/content/icons/empty.png' ></img>
</div>
<p class='nav' >
&gt; Kryptos
</p>

<table width='100%' class='leftspace' cellpadding='10' >
    <tr>
        <td><a href='./about/'><img border='0' width='16' height='16' src='/content/icons/info.png'></img> &Uuml;ber Kryptos</a></td>
    </tr>
    <tr>
        <td width='250'><b>Kryptographie</td><td><a href='{% url base_app.views.info "crypto","overview" %}/'><img width='16' height='16' border='0' src='/content/icons/about.png' ></img> Was ist das?</a></b></td>
    </tr>
    <tr>
        <td colspan='2' >
            <table class='leftspace' width='800' >
                    {% for a in crypto %}
    
                <tr>
                    <td width='50%'>{{ a.name }}:</td>
                    <td width='25%'><a href='{% url base_app.views.info a.shortTitle "overview" %}/'><img width='16' height='16' border='0' src='/content/icons/about.png' ></img> Was ist das?</a></td>
                    <td width='25%'><a href='{% url crypto.views.algo a.shortTitle %}/'><img width='16' height='16' border='0' src='/content/icons/try.png' ></img> Ausprobieren</a></td>
                </tr>
    
    {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <td width='250'><b>Steganographie</td><td><a href='{% url base_app.views.info "stego","overview" %}/'><img width='16' height='16' border='0' src='/content/icons/about.png' ></img> Was ist das?</a></b></td>
    </tr>
    <tr>
        <td colspan='2' >
            <table  class='leftspace' width='800' >
                    {% for a in stego %}
    
                <tr>
                    <td width='50%'>{{ a.name }}:</td>
                    <td width='25%'><a href='{% url base_app.views.info a.shortTitle "overview" %}/'><img width='16' height='16' border='0' src='/content/icons/about.png' ></img> Was ist das?</a></td>
                    <td width='25%'><a href='{% url stego.views.algo a.shortTitle %}/'><img width='16' height='16' border='0' src='/content/icons/try.png' ></img> Ausprobieren</a></td>
                </tr>
    
    {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <td width='250'><b>Hash-Algorithmen</td><td><a href='{% url base_app.views.info "hash","overview" %}/'><img width='16' height='16' border='0' src='/content/icons/about.png' ></img> Was ist das?</a></b></td>
    </tr>
    <tr>
        <td colspan='2' >
            <table  class='leftspace'  width='800' >
                    {% for a in hash %}
    
                <tr>
                    <td width='50%'>{{ a.name }}:</td>
                    <td width='25%'><a href='{% url base_app.views.info a.shortTitle "overview" %}/'><img width='16' height='16' border='0' src='/content/icons/about.png' ></img> Was ist das?</a></td>
                    <td width='25%'><a href='{% url hash.views.algo a.shortTitle %}/'><img width='16' height='16' border='0' src='/content/icons/try.png' ></img> Ausprobieren</a></td>
                </tr>
    
    {% endfor %}
            </table>
        </td>
    </tr>
</table>

{% endblock %}

