{% extends "base.html" %}

{% block titleline %}Kryptos{% endblock %}

{% block title %}&Uuml;bersicht{% endblock %}

{% block content %}
<div class='leftspace' >
<img width='16' height='16' border='0' src='/content/icons/empty.png' ></img>
</div>
<p class='nav' >
&gt; Kryptos
</p>

<table width='100%' class='leftspace' cellpadding='10' >
    <tr>
        <td><span class='aboutlink'><a href='./about/'>&Uuml;ber Kryptos</a></span></td>
    </tr>
    <tr>
        <td width='250'><b><a href='{% url base_app.views.list "crypto" %}'>Kryptographie</a></b></td><td><span class='infolink'><a href='{% url base_app.views.info "crypto","overview" %}/'>Was ist das?</a></span></td>
    </tr>
    <tr>
        <td colspan='2' >
            <table class='leftspace' width='800' >
                    {% for a in crypto %}
    
                <tr>
                    <td width='50%'>{{ a.name }}:</td>
                    <td width='25%'><span class='infolink'><a href='{% url base_app.views.info a.shortTitle "overview" %}/'>Was ist das?</a></span></td>
                    <td width='25%'><span class='trylink'><a href='{% url crypto.views.algo a.shortTitle %}/'>Ausprobieren</a></span></td>
                </tr>
    
    {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <td width='250'><b><a href='{% url base_app.views.list "stego" %}'>Steganographie</a></b></td><td><span class='infolink'><a href='{% url base_app.views.info "stego","overview" %}/'>Was ist das?</a></span></td>
    </tr>
    <tr>
        <td colspan='2' >
            <table  class='leftspace' width='800' >
                    {% for a in stego %}
    
                <tr>
                    <td width='50%'>{{ a.name }}:</td>
                    <td width='25%'><span class='infolink'><a href='{% url base_app.views.info a.shortTitle "overview" %}/'>Was ist das?</a></span></td>
                    <td width='25%'><span class='trylink'><a href='{% url stego.views.algo a.shortTitle %}/'>Ausprobieren</a></span></td>
                </tr>
    
    {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <td width='250'><b><a href='{% url base_app.views.list "hash" %}'>Hash-Algorithmen</a></b></td><td><span class='infolink'><a href='{% url base_app.views.info "hash","overview" %}/'>Was ist das?</a></span></td>
    </tr>
    <tr>
        <td colspan='2' >
            <table  class='leftspace'  width='800' >
                    {% for a in hash %}
    
                <tr>
                    <td width='50%'>{{ a.name }}:</td>
                    <td width='25%'><span class='infolink'><a href='{% url base_app.views.info a.shortTitle "overview" %}/'>Was ist das?</a></span></td>
                    <td width='25%'><span class='trylink'><a href='{% url hash.views.algo a.shortTitle %}/'> Ausprobieren</a></span></td>
                </tr>
    
    {% endfor %}
            </table>
        </td>
    </tr>
</table>

{% endblock %}

