<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>{%block titleline %}Kryptos{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/content/css/styles.css" />
  <link rel="home" href="/kryptos/"/>
  <link rel="content" href="/kryptos/"/>
  <link rel="copyright" href="/kryptos/about/"/>
  <style type="text/css">

  </style>
</head>
<body>
  <div id="inhalt">
    <table id='header' width='100%'>
        <tr height='20'>
            <td><span class='headline'>Kryptos</span></td>
        </tr>
        <tr>
            <td>{% block title %}Test{% endblock %}</td>
        </tr>
    </table>
    


    {% block content %}
    test
    {% endblock %}
  </div>{% if user_agent %}
  <div id='footer' >You are using {{ user_agent }}</div>
  {% endif %}
</body>
</html>

