{% extends "base.html" %}

{% block titleline %}{{ algo.name }}{% endblock %}
{% block title %}{{ algo.name }}{% endblock %}

{% block content %}
<a href='{% url base_app.views.info algo.shortTitle "overview" %}/'>Was ist das?</a>
<p class='nav' >
&gt; <a href='{% url base_app.views.base %}'>Crypt App</a> &gt; <a href='{% url base_app.views.list "crypto" %}'>Kryptographie</a> &gt; <a href='{% url base_app.views.info algo.shortTitle "overview" %}/'>{{ algo.name }}</a> &gt; Ausprobieren
</p>
{% ifequal algo 'rsa' %}
<table class='info'>
    <tr>
        <td>2048-Bit-RSA-Schl&uuml;sselpaar generieren und als zip-Archiv herunterladen:</td>
    </tr>
    <tr>
        <td><form method='post' action='.' enctype="multipart/form-data">
            <input type='submit' name='keygen' value='Schl&uuml;sselpaar generieren' />
        </form></td>
    </tr>
</table>
<p>

{% endifequal %}
    <table width='100%'>
        <tr><td>Verschl&uuml;sseln</td><td>Entschl&uuml;sseln</td></tr>
           
        
        <tr>
            <td width='50%' class='info' >
            <form method='post' action='.' enctype="multipart/form-data">
            <table>
            {{ cypherForm }}
            </table>
            <input type='submit' name='submit1' value='Abschicken' />
            </form>
            </td>
            <td width='50%' class='info' >
            <form method='post' action='.' enctype="multipart/form-data">
            <table>
            {{ decypherForm }}
            </table>
            <input type='submit' name='submit2' value='Abschicken' />
            </form>
            </td>
        </tr>
    </table>{% if output %}
     <table class='info'>
        <tr>
            <td>{{ output|escape|linebreaksbr }}</td>
        </tr>
        <tr>
            <td>{{ cypher|force_escape|linebreaksbr }}</td>
        </tr>
    </table>{% endif %}
 </td>
    </tr>
</table>
{% endblock %}

