{% extends "algo.html" %}




{% block algo %}
{% ifequal algo.shortTitle 'rsa' %}

<table width='100%' class='leftspace'>
    <tr>
        <td class='info' >2048-Bit-RSA-Schl&uuml;sselpaar generieren:
        <p>
        <form method='post' action='.' enctype="multipart/form-data">
        <input type='submit' name='keygen' value='Schl&uuml;sselpaar generieren' />
        </form>
        </td>
    </tr>
</table>

<p>

{% endifequal %}
    <table width='100%' class='leftspace' >
        <tr>{% if decypherForm %}
            <td><b><img width='32' height='32' border='0' src='/content/icons/encrypt.png' ></img> Verschl&uuml;sseln</b></td>
            <td><b><img width='32' height='32' border='0' src='/content/icons/decrypt.png' ></img> Entschl&uuml;sseln</b></td>
            {% else %}
            <td><b><img width='32' height='32' border='0' src='/content/icons/encrypt.png' ></img> Ver-/Entschl&uuml;sseln</b></td>
            {% endif %}
        </tr>
           
        
        <tr>
            <td class='info' >
            <form method='post' action='.' enctype="multipart/form-data" accept-charset="utf-8" >
            <table>
            {% for field in cypherForm %}
            <tr><td colspan='2' ><font color='red'>{{ field.errors }}</font></td></tr>
            <tr><td>
            {% ifequal field.name "message" %}
            <img width='16' height='16' border='0' src='/content/icons/txt.png' ></img>
            {% else %}{% ifequal field.name "key" %}
            <img width='16' height='16' border='0' src='/content/icons/key.png' ></img>
            {% else %}{% ifequal field.name "keyA" %}
            <img width='16' height='16' border='0' src='/content/icons/key.png' ></img>
            {% else %}{% ifequal field.name "keyB" %}
            <img width='16' height='16' border='0' src='/content/icons/key.png' ></img>
            {% else %}{% ifequal field.name "cypher_text" %}
            <img width='16' height='16' border='0' src='/content/icons/encrypted.png' ></img>
            {% else %}{% ifequal field.name "block_mode" %}
            <img width='16' height='16' border='0' src='/content/icons/blocks.png' ></img>
            {% else %}
            <img width='16' height='16' border='0' src='/content/icons/empty.png' ></img>
            {% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}
            {{ field.label }}:</td><td>{{ field }}</td></tr>
            {% endfor %}
            </table>
            <input type='submit' name='submit1' value='Abschicken' />
            </form>
            </td>
            {% if decypherForm %}
            <td  class='info' >
            <form method='post' action='.' enctype="multipart/form-data">
            <table>
            {% for field in decypherForm %}
            <tr><td colspan='2' ><font color='red'>{{ field.errors }}</font></td></tr>
            <tr><td>
            {% ifequal field.name "message" %}
            <img width='16' height='16' border='0' src='/content/icons/txt.png' ></img>
            {% else %}{% ifequal field.name "key" %}
            <img width='16' height='16' border='0' src='/content/icons/key.png' ></img>
            {% else %}{% ifequal field.name "keyA" %}
            <img width='16' height='16' border='0' src='/content/icons/key.png' ></img>
            {% else %}{% ifequal field.name "keyB" %}
            <img width='16' height='16' border='0' src='/content/icons/key.png' ></img>
            {% else %}{% ifequal field.name "cypher_text" %}
            <img width='16' height='16' border='0' src='/content/icons/encrypted.png' ></img>
            {% else %}{% ifequal field.name "block_mode" %}
            <img width='16' height='16' border='0' src='/content/icons/blocks.png' ></img>
            {% else %}
            <img width='16' height='16' border='0' src='/content/icons/empty.png' ></img>
            {% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}
            {{ field.label }}:</td><td>{{ field }}</td></tr>
            {% endfor %}
            </table>
            <input type='submit' name='submit2' value='Abschicken' />
            </form>
            </td>
            {% endif %}
        </tr>
    </table>
    {% if output or cypher %}
    <p>
     <table width='100%' class='leftspace'>
         <tr>
            <td><b><img width='32' height='32' border='0' src='/content/icons/document.png' ></img> Ver-/Entschl&uuml;sselte Nachricht</b></td>
        </tr>
        <tr>
            <td class='info' >{{ output|escape|linebreaksbr }}
            <p>
            {{ cypher|force_escape|linebreaksbr }}
            </td>
        </tr>

    </table>{% endif %}
 </td>
    </tr>
</table>
{% endblock %}

