{% extends "basis.html" %}

{%block titleline %}Hashalgorithmen{% endblock %}

{% block titel %}Hashalgorithmen:{% endblock %}

{% block inhalt %}
<table>
    <tr>
        <td>SHA-1</td>
        <td>(Was ist das?)</td>
    </tr>
    <tr>
        <td>SHA-2</td>
        <td>(Was ist das?)</td>
    </tr>
    {% for a in algos %}
    
    <tr>
        <td><a href='./algo/{{ a.shortTitle }}/'>{{ a.name }}</a></td>
        <td>(<a href='./info/{{ a.shortTitle }}/overview/'>Was ist das?</a>)</td>
    </tr>
    
    {% endfor %}
</table>
<a href='/crypt_app/'>zur&uuml;ck</a>
{% endblock %}

