{% extends "basis.html" %}

{% block titleline %}{{ title }}{% endblock %}
{% block titel %}{{ title }}{% endblock %}

{% block inhalt %}
<a href='/hash/algo/{{ algo }}/'>{{ name }} ausprobieren</a>
<p>
<table width='100%'>
    <tr>
        <th width='25%' rowspan='2' valign='top' align='left' >{{ nav|safe }}<p><a href='/hash/'>zur&uuml;ck</a><br></th>
        <td width='75%' valign='top' ><object data='/content/{{ svg }}' width="800" height="600"></object></td>
    </tr><tr>
        <td width='75%' valign='top'>{{ text|safe }}</td>
    </tr>
</table>
<p>You are using {{ user_agent }}</p>

{% endblock %}

