{% extends "base.html" %}

{% block titleline %}{{ algo.name }}{% endblock %}
{% block title %}{{ algo.name }}{% endblock %}

{% block content %}
<div class='leftspace' >
<span class='infolink'><a href='{% url base_app.views.info algo.shortTitle "overview" %}/'>Was ist das?</a></span>
</div>
<p class='nav' >
&gt; <a href='{% url base_app.views.base %}'>Kryptos</a> &gt; <a href='{% url base_app.views.info "hash" "overview" %}'>Hash-Algorithmen</a> &gt; <a href='{% url base_app.views.info algo.shortTitle "overview" %}/'>{{ algo.name }}</a> &gt; Ausprobieren
</p>
<table>
    <tr valign='top'>
        <td>
<form method='post' action='.' enctype="multipart/form-data">
    <table class='info' >
        {% for field in form %}
            <tr><td colspan='2' ><font color='red'>{{ field.errors }}</font></td></tr>
            <tr><td>
            {% ifequal field.name "clear" %}
            <img width='16' height='16' border='0' src='/content/icons/txt.png' ></img>
            {% else %}{% ifequal field.name "withSalt" %}
            <img width='16' height='16' border='0' src='/content/icons/add.png' ></img>
            {% else %}{% ifequal field.name "file" %}
            <img width='16' height='16' border='0' src='/content/icons/file.png' ></img>
            {% else %}
            <img width='16' height='16' border='0' src='/content/icons/empty.png' ></img>
            {% endifequal %}{% endifequal %}{% endifequal %}
            {{ field.label }}:</td><td>{{ field }}</td></tr>
        {% endfor %} 
        <tr>
            <td><input type='submit' name='submit' value='Abschicken' /></td>
        </tr>
    </table>{% if hashvalue %}
    <table>
        <tr>
            <td class='info' >{{ hashvalue|escape|linebreaksbr }}</td>
        </tr>
    </table>{% endif %}
    
</form>

     </table>
    
 </td>
    </tr>
</table>
{% endblock %}

