{% extends "basis.html" %}

{% block titleline %}{{ title }}{% endblock %}
{% block titel %}{{ title }}{% endblock %}

{% block inhalt %}
<a href='/hash/algo/{{ algo }}/'>{{ name }} ausprobieren</a>
<p>
<table width='100%'>
    <tr>
        <th width='25%' rowspan='3' valign='top' align='left' ><ul></ul>{{ nav|safe }}</ul><p><a href='/hash/'>zur&uuml;ck</a><br></th>
        {% if caption %}
        <td width='75%' valign='top' align='center' ><h3>{{ caption }}</h3></td></tr>
        <tr>{% endif %}<td width='75%' valign='top' align='center' ><object type="image/svg+xml" data='/content/{{ svg }}' width="{{ width }}" height="{{ height }}"></object></td>
        
    </tr><tr>
        <td width='75%' valign='top'>{{ text|safe }}</td>
    </tr>
</table>
<p>You are using {{ user_agent }}</p>

{% endblock %}

