{% extends "basis.html" %}

{%block titleline %}Hashalgorithmen{% endblock %}

{% block titel %}Hashalgorithmen:{% endblock %}

{% block inhalt %}
<table>
    <tr>
        <td>MD5</td>
        <td>(Was ist das?)</td>
    </tr>
    <tr>
        <td>SHA-1</td>
        <td>(Was ist das?)</td>
    </tr>
    <tr>
        <td>SHA-2</td>
        <td>(Was ist das?)</td>
    </tr>
    <tr>
        <td><a href='./algo/keccak/'>Keccak</a></td>
        <td>(<a href='./info/keccak/'>Was ist das?</a>)</td>
    </tr>
</table>
<a href='/crypt_app/'>zur&uuml;ck</a>
{% endblock %}

