{% extends "algo.html" %}
{% load moretags %}
{% block algo %}
<table width='100%' class='leftspace'>
    <tr>
        <td><b><img width='32' height='32' border='0' src='/content/icons/hash.png' ></img> Haschwertbildung</b></td>
    </tr>
    <tr>
        <td class='info' >
        <form method='post' action='.' enctype="multipart/form-data">
    <table>
        {% for field in form %}
            <tr><td  colspan='2' ><font color='red'>{{ field.errors }}</font></td></tr>
            <tr><td>
            {% ifequal field.name "clear" %}
            <img width='16' height='16' border='0' src='/content/icons/txt.png' ></img>
            {% else %}{% ifequal field.name "withSalt" %}
            <img width='16' height='16' border='0' src='/content/icons/add.png' ></img>
            {% else %}{% ifequal field.name "file" %}
            <img width='16' height='16' border='0' src='/content/icons/file.png' ></img>
            {% else %}
            <img width='16' height='16' border='0' src='/content/icons/empty.png' ></img>
            {% endifequal %}{% endifequal %}{% endifequal %}
            {{ field.label|umlauts|safe }}:</td><td>{{ field }}</td></tr>
        {% endfor %} 
        <tr>
            <td><input type='submit' name='submit' value='Abschicken' /></td>
        </tr>
    </table>
    </form>
</table>
<p>
    {% if hashvalue %}
    <table class='leftspace' width='100%' >
        <tr>
            <td><b><img width='32' height='32' border='0' src='/content/icons/hash-value.png' ></img> Hashwert</b></td>
        </tr>
        <tr>
            <td class='info' >{{ hashvalue|escape|linebreaksbr }}
            {% if hash %}<p>
            <span class='external'>
            <a target='_blank' href='http://www.google.com/search?q={{ hash }}&ie=utf-8&oe=utf-8'>Google Suche</a>
            </span></p>{% endif %}
            </td>
           
        </tr>
    </table>{% endif %}
    

{% endblock %}

