{% extends "basis.html" %}

{% block titel %}Hash-Test:{% endblock %}

{% block inhalt %}
<table>
    <tr valign='top'>
        <td>
<form method='post' action='.' enctype="multipart/form-data">
    <table>
        
           {{ form }}
        
        <tr>
            <td><input type='submit' name='submit' value='Abschicken' /></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>{{ hashvalue|escape|linebreaksbr }}</td>
        </tr>
    </table>
    
</form>
 </td>
 <td valign='top'>
         <tr>
             <td><h3>Hintergrundinformationen</h3></td>
         </tr>
         <tr>
            <td>
                Keccak:<br>
                <a href='../content/absorb.svg'>Absorb-Funktion</a>
                (<a href='../content/absorb.gif'>gif</a>)<br>
                <a href='../content/squeeze.svg'>Squeeze-Funktion</a>
                (<a href='../content/squeeze.gif'>gif</a>)<br>
                <a href='../content/state.svg'>Keccak-State in Blockdarstellung</a>
                (<a href='../content/state.png'>png</a>)<br>
                <a href='../content/chi.svg'>Chi-Permutation</a>
                (<a href='../content/chi.gif'>gif</a>)<br>
                <a href='../content/theta.svg'>Theta-Permutation</a>
                (<a href='../content/theta.gif'>gif</a>)<br>
                <a href='../content/pi.svg'>Pi-Permutation</a>
                (<a href='../content/pi.gif'>gif</a>)<br>
            </td>
         </tr>

     </table>
    
 </td>
    </tr>
</table>

{% endblock %}

