{% extends "algo.html" %}
{% load moretags %}
{% block algo %}
<table width='100%' class='leftspace'>
    <tr>
        <td><b><img width='32' height='32' border='0' src='/content/icons/hash.png' ></img> Haschwertbildung</b></td>
    </tr>
    <tr>
        <td class='info' >
        <form method='post' action='.' enctype="multipart/form-data">
    <table>
        {% for field in form %}
            <tr><td  colspan='2' ><font color='red'>{{ field.errors }}</font></td></tr>
            <tr><td>
	    {{field.name|setIcon|safe}}
            {{ field.label|umlauts|safe }}:</td><td>{{ field }}</td></tr>
        {% endfor %} 
        <tr>
            <td><input type='submit' name='submit' value='Abschicken' /></td>
        </tr>
    </table>
    </form>
</table>
<p>
    {% if hashvalue %}
    <div id='fadein'>
    <table class='leftspace' width='100%' >
        <tr>
            <td><b><img width='32' height='32' border='0' src='/content/icons/hash-value.png' ></img> Hashwert</b></td>
        </tr>
        <tr>
            <td class='info' >{{ hashvalue|escape|linebreaksbr }}
            <p>{{ hash|escape|linebreaksbr }}
            {% if hash %}<p>
            <span class='external'>
            <a target='_blank' href='http://www.google.com/search?q={{ hash }}&ie=utf-8&oe=utf-8'>Google Suche</a>
            </span></p>{% endif %}
            </td>
           
        </tr>
    </table></div>{% endif %}
    

{% endblock %}

