{% extends "base.html" %}

{%block titleline %}{{ title }}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class='leftspace' >
<br>
</div>
<p class='nav' >
&gt; <a href='{% url "base_app.views.base" %}'>Kryptos</a> &gt; {{ title }}
</p>
<table width='100%' class='leftspace' cellpadding='10'>

    <tr>
    <td width='250'><b>{{ title }}</b></td><td><span class='infolink'><a href='{% url "base_app.views.info" "algo_type" "overview" %}/'>Was ist das?</a></span></td>
    </tr>
    <tr>
        <td colspan='2' >
            <table class='leftspace' width='800' >
                    {% for a in algos %}
                <tr>
                    <td width='50%'>{{ a.name }}:</td>
                    <td width='25%'><span class='infolink'><a href='{% url "base_app.views.info" a.shortTitle "overview" %}/'>Was ist das?</a></span></td>
                    <td width='25%'><span class='trylink'>
                    {% ifequal algo_type "crypto" %}
                    <a href='{% url "crypto.views.algo" a.shortTitle %}/'>Ausprobieren</a>
                    {% else %}{% ifequal algo_type "stego" %}
                    <a href='{% url "stego.views.algo" a.shortTitle %}/'>Ausprobieren</a>
                    {% else %}{% ifequal algo_type "hash" %}
                    <a href='{% url "hash.views.algo" a.shortTitle %}/'>Ausprobieren</a>
                    {% endifequal %}{% endifequal %}{% endifequal %}
                    </span></td>
                </tr>
    
    {% endfor %}
            </table>
        </td>
    
    </tr>
</table>
{% endblock %}

