{% extends "basis.html" %}

{%block titleline %}{{ title }}{% endblock %}

{% block titel %}{{ title }}{% endblock %}

{% block inhalt %}
Was ist das?
<p class='nav' >
&gt; <a href='../../../crypt_app/'>Crypt App</a> &gt; {{ title }}
</p>
<table width='600'>
    {% for a in algos %}
    
    <tr>
        <td width='50%'>{{ a.name }}:</td>
        <td width='25%'><a href='../info/{{ a.shortTitle }}/overview/'>Was ist das?</a></td>
        <td width='25%'><a href='./algo/{{ a.shortTitle }}/'>Ausprobieren</a></td>
    </tr>
    
    {% endfor %}
</table>
{% endblock %}

