{% extends "base.html" %}

{%block titleline %}{{ title }}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<a href='{% url base_app.views.info algo_type "overview" %}/'>Was ist das?</a>
<p class='nav' >
&gt; <a href='{% url base_app.views.base %}'>Crypt App</a> &gt; {{ title }}
</p>
<table width='600'>
    {% for a in algos %}
    
    <tr>
        <td width='50%'>{{ a.name }}:</td>
        <td width='25%'><a href='{% url base_app.views.info a.shortTitle "overview" %}/'>Was ist das?</a></td>
        {% ifequal algo_type "crypto" %}
        <td width='25%'><a href='{% url crypto.views.algo a.shortTitle %}/'>Ausprobieren</a></td>
        {% else %}{% ifequal algo_type "stego" %}
        <td width='25%'><a href='{% url stego.views.algo a.shortTitle %}/'>Ausprobieren</a></td>
        {% else %}{% ifequal algo_type "hash" %}
        <td width='25%'><a href='{% url hash.views.algo a.shortTitle %}/'>Ausprobieren</a></td>
        {% endifequal %}{% endifequal %}{% endifequal %}
    </tr>
    
    {% endfor %}
</table>
{% endblock %}

