{% extends "algo.html" %}
{% load moretags %}
{% block algo %}
    <table width='100%' class='leftspace' >
        <tr><td><b><img width='32' height='32' border='0' src='/content/icons/embed.png' ></img> Einbetten</b></td><td><b><img width='32' height='32' border='0' src='/content/icons/extract.png' ></img> Ausbetten</b></td></tr>
           
        
        <tr>
            <td width='50%' class='info' >
            <form method='post' action='.' enctype="multipart/form-data">
            <table>
            {% for field in embedForm %}
            <tr><td colspan='2' ><font color='red'>{{ field.errors }}</font></td></tr>
            <tr><td>
	    {{field.name|setIcon|safe}}
            {{ field.label|umlauts|safe }}:</td><td>{{ field }}</td></tr>
            {% endfor %}
            </table>
            <input type='submit' name='submit1' value='Abschicken' />
            </form>
            </td>
            <td width='50%' class='info' >
            <form method='post' action='.' enctype="multipart/form-data">
            <table>
            {% for field in extractForm %}
            <tr><td colspan='2' ><font color='red'>{{ field.errors }}</font></td></tr>
            <tr><td>
	    {{field.name|setIcon|safe}}
            {{ field.label|umlauts|safe }}:</td><td>{{ field }}</td></tr>
            {% endfor %}
            </table>
            <input type='submit' name='submit2' value='Abschicken' />
            </form>
            </td>
        </tr>
    </table>
    {% if text %}
    <p>
     <table width='100%' class='leftspace'>
        <tr>
            <td><b><img width='32' height='32' border='0' src='/content/icons/document.png' ></img> Ausgebettete Nachricht</b></td>
        </tr>
        <tr>
            <td class='info' >{{ text|escape|linebreaksbr }}</td>
        </tr>
    </table>{% endif %}
  

{% endblock %}

