{% extends "base.html" %}

{% block titleline %}{{ algo.name }}{% endblock %}
{% block title %}{{ algo.name }}{% endblock %}

{% block content %}
<div class='leftspace' >
<span class='infolink'><a href='{% url base_app.views.info algo.shortTitle "overview" %}/'>Was ist das?</a></span>
</div>
<p class='nav' >
&gt; <a href='{% url base_app.views.base %}'>Kryptos</a> &gt; <a href='{% url base_app.views.info "stego" "overview" %}'>Steganographie</a> &gt; <a href='{% url base_app.views.info algo.shortTitle "overview" %}/'>{{ algo.name }}</a> &gt; Ausprobieren
</p>
    <table width='100%' class='leftspace' >
        <tr><td><b><img width='32' height='32' border='0' src='/content/icons/embed.png' ></img> Einbetten</b></td><td><b><img width='32' height='32' border='0' src='/content/icons/extract.png' ></img> Ausbetten</b></td></tr>
           
        
        <tr>
            <td width='50%' class='info' >
            <form method='post' action='.' enctype="multipart/form-data">
            <table>
            {% for field in embedForm %}
            <tr><td colspan='2' ><font color='red'>{{ field.errors }}</font></td></tr>
            <tr><td>
            {% ifequal field.name "message" %}
            <img width='16' height='16' border='0' src='/content/icons/txt.png' ></img>
            {% else %}{% ifequal field.name "pw" %}
            <img width='16' height='16' border='0' src='/content/icons/key.png' ></img>
            {% else %}{% ifequal field.name "file" %}
            <img width='16' height='16' border='0' src='/content/icons/image.png' ></img>
            {% else %}
            <img width='16' height='16' border='0' src='/content/icons/empty.png' ></img>
            {% endifequal %}{% endifequal %}{% endifequal %}
            {{ field.label }}:</td><td>{{ field }}</td></tr>
            {% endfor %}
            </table>
            <input type='submit' name='submit1' value='Abschicken' />
            </form>
            </td>
            <td width='50%' class='info' >
            <form method='post' action='.' enctype="multipart/form-data">
            <table>
            {% for field in extractForm %}
            <tr><td colspan='2' ><font color='red'>{{ field.errors }}</font></td></tr>
            <tr><td>
            {% ifequal field.name "message" %}
            <img width='16' height='16' border='0' src='/content/icons/txt.png' ></img>
            {% else %}{% ifequal field.name "pw" %}
            <img width='16' height='16' border='0' src='/content/icons/key.png' ></img>
            {% else %}{% ifequal field.name "file" %}
            <img width='16' height='16' border='0' src='/content/icons/image.png' ></img>
            {% else %}
            <img width='16' height='16' border='0' src='/content/icons/empty.png' ></img>
            {% endifequal %}{% endifequal %}{% endifequal %}
            {{ field.label }}:</td><td>{{ field }}</td></tr>
            {% endfor %}
            </table>
            <input type='submit' name='submit2' value='Abschicken' />
            </form>
            </td>
        </tr>
    </table>
{{ text|escape|linebreaksbr }}<p>
   

{% endblock %}

