{% extends "basis.html" %}

{% block titleline %}{{ title }}{% endblock %}
{% block titel %}{{ title }}{% endblock %}

{% block inhalt %}
(<a href='/info/{{ algo }}/overview/'>Was ist das?</a>)
<p class='nav' >
&gt; <a href='../../../crypt_app/'>Crypt App</a> &gt; <a href='../../'>Steganographie</a> &gt; <a href='../../../info/{{ algo }}/overview'>{{ title }}</a> &gt; Ausprobieren
</p>
    <table width='100%'>
        <tr><td>Einbetten</td><td>Ausbetten</td></tr>
           
        
        <tr>
            <td width='50%' class='info' >
            <form method='post' action='.' enctype="multipart/form-data">
            <table>
            {{ embedForm }}
            </table>
            <input type='submit' name='submit1' value='Abschicken' />
            </form>
            </td>
            <td width='50%' class='info' >
            <form method='post' action='.' enctype="multipart/form-data">
            <table>
            {{ extractForm }}
            </table>
            <input type='submit' name='submit2' value='Abschicken' />
            </form>
            </td>
        </tr>
    </table>
{{ text|escape|linebreaksbr }}<p>
   

{% endblock %}

